.container {
    display: flex;
    background-image: url("/resources/ict/dglib/roompad/img/bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

.roomPadCont{
    width: 100%;
}

.roomPadCont .userInfo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.roomPadCont .userInfo .usrProfileLnk{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 5.75rem;
    background: rgba(255, 255, 255, 0.10);
    aspect-ratio: 1/1;
}

.roomPadCont .userInfo .usrProfileLnk > img{
    width: 1.625rem;
    height: 1.625rem;
    aspect-ratio: 1/1;
}

.roomCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5rem
}

.roomCont .roomInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 78.75rem;
    gap: 1.75rem;
}

.roomCont .roomInfo .roomTit{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}

.roomCont .roomInfo .roomTit .roomTitEn{
    font-family: PretendardMedium,sans-serif;
    font-size: 1.5rem;
    line-height: 100%;
    display: -webkit-box;
    overflow: hidden;
    align-self: stretch;
    text-align: center;
    letter-spacing: 0.15rem;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.50);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.roomCont .roomInfo .roomTit .roomTitKo{
    font-family: PretendardSemiBold, sans-serif;
    font-size: 6.25rem;
    line-height: 120%;
    display: -webkit-box;
    overflow: hidden;
    align-self: stretch;
    text-align: center;
    letter-spacing: -0.125rem;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #FFF;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.roomCont .roomInfo .roomTime{
    font-family: PretendardMedium, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 100%; /* 2.5rem */
    text-align: center;
    letter-spacing: -0.05rem;
    text-transform: uppercase;
    color: #FFF;
}

.roomCont .reservation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.75rem 3.75rem;
    border-radius: 18.75rem;
    background: rgba(255, 255, 255, 0.15);
    gap: 3.75rem;
}

.roomCont .reservation .resvInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.roomCont .reservation .resvInfo .resvTit{
    font-family: RobotoRegular, sans-serif;
    font-size: 1.375rem;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ADB5BD;
}

.roomCont .reservation .resvInfo .resvTime{
    font-family: RobotoSemiBold, sans-serif;
    font-size: 3rem;
    line-height: normal;
    text-align: center;
    color: #FFF;
}

.roomCont .reservation .resvChkBtn{
    font-family: PretendardBold, sans-serif;
    font-size: 2rem;
    line-height: normal;
    display: flex;
    display: -webkit-box;
    overflow: hidden;
    align-items: flex-start;
    padding: 1.5rem 2.75rem;
    text-align: center;
    letter-spacing: -0.05rem;
    text-overflow: ellipsis;
    color: #FFF;
    border-radius: 5rem;
    background: #191F28;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.roomCont .queueList{
    position: relative;
    width: 58rem;
    padding: 0 5rem;
}
.roomCont .queueList .queueSlideWrap{
    display: flex;
    gap: 1.31rem;
}

.roomCont .queueList .queueSlideWrap .queueSlideItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-right: 1.31rem;
    padding: 2.84375rem 3.875rem;
    border: 2px solid rgba(255, 255, 255, 0.30);
    border-radius: 1rem;
}

.roomCont .queueList .queueSlideWrap .queueSlideItem .queueStatus{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.375rem;
    line-height: normal;
    text-align: center;
    letter-spacing: -0.03438rem;
    color: #ADB5BD;
}

.roomCont .queueList .queueSlideWrap .queueSlideItem .queueUsrName{
    font-family: PretendardSemiBold, sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    overflow: hidden;
    margin-top: 0.56rem;
    text-align: center;
    letter-spacing: 0.1125rem;
    text-overflow: ellipsis;
    color: #FFF;
}

.roomCont .queueList .queueSlideWrap .queueSlideItem .queueTime{
    font-family: RobotoSemiBold, sans-serif;
    font-size: 1.75rem;
    line-height: normal;
    margin-top: 1.12rem;
    text-align: center;
    white-space: nowrap;
    color: #ADB5BD;
}

.roomCont .queueArrows{
    width: 100%;
}

.roomCont .queueArrows .queueArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-3rem);
}

.roomCont .queueArrows .queueArrow > img{
    width: 3.75rem;
    height: 3.75rem;
    aspect-ratio: 1/1;
}

.roomCont .queueArrows .queuePrev{
    left: 0;
}

.roomCont .queueArrows .queueNext{
    right: 0;
}

.roomCont .queueList .queuePaging{
    width: 58.875rem;
    height: 0.1875rem;
    margin-top: 3rem;
    border-radius: 1.875rem;
    background: rgba(255, 255, 255, 0.20);
}

.roomCont .queueList .queuePaging .queueGauge{
    width: 0;
    height: 100%;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.50);
}

/* 모달 css */
.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0; display: none; /* 기본 숨김 */
    overflow: auto; width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.usrResvPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45rem;
    padding-bottom: 3rem;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    background-color: #fff;
}

.usrResvPopup .usrResvHeader{
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    padding: 0 4rem;
    border-radius: 2rem 2rem 0 0;
    background: #8B95A1;
}

.usrResvPopup .usrResvHeader .usrResvTit{
    font-family: PretendardMedium, sans-serif;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.025rem;
    color: #FFF;
}

.usrResvPopup .usrResvCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 4rem;
    background-color: #fff;
    gap: 2.5rem;
}

.usrResvPopup .usrResvCont .usrResvScroll .usrResvList{
    display: flex;
    overflow-y: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 12rem;
    gap: 1.25rem  2.5rem;
}

.usrResvPopup .usrResvCont .usrResvScroll .usrResvList .usrResvItem{
    font-family: PretendardMedium, sans-serif;
    font-size: 2.25rem;
    line-height: 140%;
    width: 9.375rem;
    text-align: center;
    text-overflow: ellipsis;
}

.usrResvPopup .btnUsrResv{
    font-family: PretendardMedium, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 16rem);
    padding: 2rem 3rem;
    text-align: center;
    color: #FFF;
    border-radius: 3.125rem;
    background: #191F28;
}