.container {
    display: flex;
    background-image: url("/resources/ict/dglib/roompad/img/bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

.myResCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

.myResCont .myResHead{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 78.75rem;
    gap: 1.25rem;
}

.myResCont .myResHead .myResTitEn{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.25rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.50);
}

.myResCont .myResHead .myResTitKo{
    font-family: PretendardSemiBold, sans-serif;
    font-size: 4.5rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.135rem;
    text-transform: uppercase;
    color:#FFF;
}

.myResList{
    display: flex;
    width: 64.3125rem;
    margin: 0 auto;
}

.myResList .myResItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 20rem;
    margin-right: 2rem;
    padding: 3.75rem 3.125rem 3.8125rem 3.125rem;
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.10);
    gap: 2.5rem;
}

.myResList .myResItem .myResSum{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #FFFFFF1A;
    gap: 2rem;
}

.myResList .myResItem .myResSum .myResDate{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    color: #FFF;
}

.myResList .myResItem .myResSum .myResSts{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 6.25rem;
    letter-spacing: -0.02812rem;
    color: #FFF;
    border-radius: 100%;
}

.myResList .myResItem .myResSum .myResSts.stsCancel{
    background-color: #6B7684;
}

.myResList .myResItem .myResSum .myResSts.stsCheckIn{
    background-color: #0372FF;
}

.myResList .myResItem .myResSum .myResSts.stsWait{
    background-color: #029951;
}

.myResList .myResItem .myResSum .myResUsr{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    letter-spacing: 0.075rem;
    text-overflow: ellipsis;
    color: #FFF;
}

.myResList .myResItem .myResDtl{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.myResList .myResItem .myResDtl .myResInfo{
    font-family: PretendardSemiBold, sans-serif;
    font-size: 1.25rem;
    line-height: normal;
    display: flex;
    align-items: center;
    color: #FFF;
    gap: 1rem;
}

.myResItem .myResDtl .myResInfo > span{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.25rem;
    line-height: normal;
    text-align: center;
    letter-spacing: -0.03126rem;
    color: #ADB5BD;
}

.slick-dots {
    bottom: -3.56rem;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}

.slick-dots li {
    width: 0.875rem;
    height: 0.875rem;
    aspect-ratio: 1/1;
}

.slick-dots li button {
    width: 0.875rem;
    height: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 50%;
    background-color: #4E5968;
    aspect-ratio: 1/1;
}

.slick-dots li.slick-active button {
    background-color: #FFF;
}

.slick-dots li button::before{
    display: none;
}
