.container {
    display: flex;
    background-image: url("/resources/ict/dglib/roompad/img/bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

.roomPadCont{
    width: 100%;
}
.roomPadCont .userInfo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5rem;
}
.roomPadCont .userInfo .usrProfileLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 5.75rem;
    background: rgba(255, 255, 255, 0.10);
    aspect-ratio: 1/1;
}
.roomPadCont .userInfo .usrProfileLink > img{
    width: 1.625rem;
    height: 1.625rem;
    aspect-ratio: 1/1;
}


.roomStatusCont{
    display: flex;
    flex-direction: column;
    width: 58.8rem;
    margin: 0 auto;
    gap: 6.25rem;
}
.roomStatusCont .roomStatusInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.roomStatusCont .roomStatusInfo .roomStatusDate{
    font-family: PretendardSemiBold, sans-serif;
    font-size: 3.25rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.07125rem;
    text-transform: uppercase;
    color: #FFF;
}
.roomStatusCont .roomStatusInfo .roomStatusRoom{
    font-family: PretendardSemiBold, sans-serif;
    font-size: 2.375rem;
    line-height: 100%;
    letter-spacing: -0.07125rem;
    color: #FFF;
}

.roomStatusCont .roomStatusList{
    width: 100%;
}

.roomStatusCont .roomStatusList .rpUserGroup2{
    display: flex;
    gap: 1.375rem;
}
.roomStatusCont .roomStatusList .rpUserGroup3{
    display: flex;
    flex-wrap: wrap;
    gap: 1.375rem;
}

.roomStatusCont .roomStatusList .rpStatusWrap{
    display: flex;
    flex-wrap: wrap;
    width: 59rem;
    column-gap: 1.375rem;
    row-gap: 1.5rem;
}
.roomStatusCont .roomStatusList .roomUserInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 28rem;
    padding: 4.08119rem 3.87494rem 4.05631rem 3.87506rem;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.30);
    border-radius: 2.5rem;
}
.roomStatusCont .roomStatusList .roomUserInfo:hover,
.roomStatusCont .roomStatusList .roomUserInfo:focus{
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.15);
}
.roomStatusCont .roomStatusList .roomUserInfo .roomUserStatus{
    font-family: PretendardMedium, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.0375rem;
    color: #ADB5BD;
}
.roomStatusCont .roomStatusList .roomUserInfo .roomUserName{
    font-family: PretendardBold, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    display: -webkit-box;
    overflow: hidden;
    width: 10.5rem;
    margin-top: 0.26rem;
    text-align: center;
    letter-spacing: 0.125rem;
    text-overflow: ellipsis;
    color: #FFF;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.roomStatusCont .roomStatusList .roomUserInfo .roomUserTime{
    font-family: RobotoSemiBold, sans-serif;
    font-size: 2.25rem;
    line-height: normal;
    margin-top: 0.7em;
    text-align: center;
    color: #ADB5BD;
}

/* dots 영역 위치, 정렬 */
.slick-dots {
    bottom: -1.78rem;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

/* li 초기화 */
.slick-dots li {
    width: 0.4375rem;
    height: 0.4375rem;
    aspect-ratio: 1/1;
}

/* dot 버튼 공통 스타일 */
.slick-dots li button {
    width: 0.4375rem;
    height: 0.4375rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 50%;
    background-color: #4E5968; /* 비활성화 시 파란색 */
    aspect-ratio: 1/1;
}

/* 활성화된 dot */
.slick-dots li.slick-active button {
    background-color: #FFF;
}
.slick-dots li button::before{
    display: none;
}

