.container {
    background: linear-gradient(163deg, #D4E3FE 0%, #F6ECEB 50.49%, #E6D3F8 100.98%);
}

.content {
    margin-top: 5.63rem;
    margin-bottom: 2.03rem;
}

.noticeList {
    width: 100%;
    height: 85.2rem;
    padding: 0;
    animation: fade-in-up 1s ease-out forwards;
    opacity: 0;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.noticeList .slick-track,
.noticeList .slick-list {
    height: 100%;
}

.noticeList .slick-slide {
    align-items: center;
    flex-direction: column;
    width: 37.5rem;
    height: 53.0625rem;
    margin-right: 10rem;
    transition: transform 0.5s ease, margin-top 0.5s ease;
    transform: scale(1);
    transform-origin: center top;
}

.noticeList .slick-slide img {
    margin-top: 17.69rem;
}

.noticeList .slick-slide .title {
    display: none;
}

.noticeList .slick-slide.slick-current {
    margin-top: 0;
    transform: scale(1.3333);
}

.noticeList .slick-slide.slick-current img {
    margin-top: 0;
    margin-bottom: 3.5rem;
}

.noticeList .slick-slide.slick-current .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    min-height: 5.25rem;
    margin-bottom: 4.38rem;
    transform: scale(0.75);
    transform-origin: center top;
    border: 2px solid #FFF;
    border-radius: 3.125rem;
    background: linear-gradient(180deg, rgb(255 255 255 / 20%) 0%, rgb(255 255 255 / 0%) 100%), rgb(255 255 255 / 40%);
    box-shadow: 0.625rem 1.25rem 2.5rem 0 rgb(67 98 122 / 16%);
    backdrop-filter: blur(50px);
}

.noticeList .slick-slide.slick-current .title p {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 42.5rem;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.04688rem;
    text-overflow: ellipsis;
    color: #191F28;
}

.noticeList li img {
    width: 100%;
    height: 100%;
    border-radius: 1.875rem;
    box-shadow: 1.25rem 2.5rem 3.75rem 0 rgb(0 0 0 / 16%);
    object-fit: fill;
}

.noticeList .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
}

.noticeList .slick-dots li {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0;
}

.noticeList .slick-dots li button {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    border: none;
    border-radius: 50%;
    background-color: #8B95A1;
}

.noticeList .slick-dots li.slick-active button {
    background-color: #121212;
}
